* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background:rgb(20, 19, 19);
  height: 500px;

}


.main {
  background: #fff;
  margin: 100px 100px;
  border-radius: 12px;
  height: 1200px;
}


header {
  padding: 25px 50px;
}
nav{
  text-align: center;
}


nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #000;
  font-size: 22px;
  font-weight: bold;
}

.about{
max-width:900px;
margin:60px auto;
padding:40px;
border:2px solid gold;
border-radius:20px;
box-shadow:0 0 40px gold;
text-align:center;
}


h1{
color:black;
margin-bottom:30px;
}


.image-grid{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
margin-bottom:30px;
}


.img-card{
width:150px;
height:150px;
overflow:hidden;
border-radius:12px;
border:2px solid gold;
transition:0.3s;
}

.img-card img{
width:100%;
height:100%;
object-fit:cover;
}

.img-card:hover{
transform:scale(1.1);
box-shadow:0 0 20px gold;
}


.about-text{
line-height:1.8;
/* color:#ffd966; */
max-width:700px;
margin:auto;
}


