*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:"Segoe UI", sans-serif;
}

body{
  background:rgb(20,19,19);
}


.main{
  background:#fff;
  margin:100px;
  border-radius:12px;
  padding-bottom:50px;
}


header{
  padding:25px 50px;
}

nav{
  text-align:center;
}

nav a{
  margin:0 15px;
  text-decoration:none;
  color:#000;
  font-size:22px;
  font-weight:bold;
}


.about{
  padding:40px;
}

.about h1{
  text-align:center;
  margin-bottom:40px;
  
}


.about-container{
  display:flex;
  gap:90px;
  /* align-items:flex-start; */
  
}

span{
  
  background:linear-gradient(90deg,#4f46e5,#06b6d4);
  -webkit-background-clip:text;
  color:transparent;
  font-weight:bold;
}


.gallery{
  width:50%;
  display:grid;
  grid-template-columns:repeat(3,1fr);
  grid-auto-rows:200px;
  gap:15px;
  width: 500px;
  margin-left: 90px;
}


.gallery div{
  overflow:hidden;
  border-radius:10px;
}


.gallery img{
  width:100%;
  height:100%;
  object-fit:cover;
}


.big{
  grid-column:span 2;
  grid-row:span 2;
}

.tall{
  grid-row:span 2;
}

.wide{
  grid-column:span 3;
}

.wid{
  grid-column: span 2;
  
}
.small{
  /* margin-left: 20px; */
  width: 200px;
}

.about-text{
  width:50%;
  line-height:1.8;
  font-size:20px;
  width: 590px;
}
