* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background:rgb(20, 19, 19);
  height: 500px;

}


.main {
  background: #fff;
  margin: 100px 100px;
  border-radius: 12px;
  height: 800px;
  
 
}


header {
  
padding: 25px 50px;
  
}
nav {
  text-align: center;
}


nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #000;
  font-size: 22px;
  font-weight: bold;
}
.card-container {
  display: flex;
  gap: 20px;


}
.achievement-cards,
.card img{
border-radius: 10px;
}
.achievements{
  padding: 50px;
  color: white;
  width: 300px ;
  margin-left: 100px;

}
.achu h1{
  padding: 20px;
  margin-top: 50px;
    
} 

.card {
  /* background: rgb(10, 10, 10); */
  padding: 20px;
  /* width: 200px; */
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  background-color:#ffffff;
  color: black;
}