* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: rgb(20, 19, 19);
  height: 500px;
}

.main {
  background: #fff;
  margin: 100px 100px;
  border-radius: 12px;
  height: 800px;
}

header {
  padding: 25px 50px;
}
nav {
  text-align: center;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #000;
  font-size: 22px;
  font-weight: bold;
}


.head {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  gap: 30px;
  margin-top: 150px;
  
}

.hero {
  background: #f5f5f5;
  width: 500px;
  padding: 25px;
  margin-left: 100px;
  border-radius: 16px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hero:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.25);
}
