* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background:rgb(20, 19, 19);
  height: 500px;

}


.main {
  background: #fff;
  margin: 40px;
 
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
  
  
  
}

.logo {
  font-size: 25px;
  font-style: italic;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #000;
  font-size: 20px;
}



.hero {
  /* display: flex; */
  padding: 50px;
  background: linear-gradient(to bottom, white, #fde7b5);
  height: 290px;
 
}
.head p{
  font-size: 20px;
}
.head h2{
  font-size: 29px;
}
.head h1 {
  font-size: 50px;
}
.head img{
margin-left: 1100px;
border-radius: 200px;
/* margin-bottom: 900px; */



}
.box{
  display: flex;
  gap:100px;
}
.bo{
  background: white;
  padding: 20px;
  /* width: 350px; */
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(246, 248, 249, 0.1);
}

.card{
  padding: 50px;
  background: linear-gradient(to bottom, #fdfcfc, #fde7b5);

}
.card p{
  font-size: 20px;
  width: 1100px;
}


