
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #141313;
}


.main {
  margin: 100px 100px;
  background-color: white;
  border-radius: 12px;
  height: 700px;
  box-shadow: 0 10px 16px 10px rgba(244, 243, 239, 0.30);
}

header {
  padding: 25px 50px;
}

nav {
  text-align: center;
  /* margin-left: 900px; */
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #000;
  font-size: 22px;
  font-weight: bold;
}


.hero {
  padding: 60px 50px;
}


.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin-left: 300px;
}


.text h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.text h3 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
  color: #444;
}

.text h2 {
  font-size: 18px;
  color: #000;
  background: #f6f6f6;
  display: inline-block;
  padding: 8px 14px;
  border-radius: 8px;
}


.head img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #181618;
  box-shadow: 0 10px 15px  rgba(107, 106, 105, 1.1);
}
