* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background:rgb(20, 19, 19);


}


.main {
  background: #fff;
  margin: 40px;
  border-radius: 12px;
  height: 850px;

 
}


header {
  padding: 25px 50px;
  
}
nav{
  text-align: center;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #000;
  font-size: 22px;
  font-weight: bold;
}
.card-container {
  display: flex;
  gap: 20px;


} 
.achievement-cards img{
border-radius: 20px;
}
.achievements{
    height: 800px;
    padding: 20px;
    width: 300px;
    margin-top: 40px;

}
.achu h1{
  padding: 20px;
    
} 

.card {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
} 
button {
    margin-left: 90px;
    padding:  10px 15px;
    border-radius: 20px;
    font-size: 15px;
    background-color: black;
    
   
}
h3{
    margin-left: 120px;
    font-size: 25px;
    
}
button a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
