* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"Outfit",sans-serif;
}

body {
  background: #141313;
}


.main {
  margin: 60px 40px;
  background: #ffffff;
  border-radius: 12px;
  height: 1400px;
}


header {
  padding: 25px 50px;
}

nav {
  text-align: center;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #000;
  font-size: 22px;
  font-weight: bold;
}


.head {
  padding: 60px 50px;
  text-align: center;
}

.skills h1 {
  font-size: 40px;
  margin-bottom: 40px;
}


.skills img {
  width: 250px; 
  height: 180px; 
  object-fit: cover;
  margin: 10px;
  border-radius: 12px;
  border: 3px solid black;
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}
.skills img:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 22px rgba(0,0,0,0.25);
}
#hii{
  margin:auto;
  /* margin-right: 10px; */
  width: 1200px;
  height:250px;
}

h1{
  margin-right: 1200px;
  font-size:40px;
}
/* .els.img{
  height: 300px;
  width: 500px;
} */

.life{
display: flex;
gap:32px;


}
.life img{
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(6, 6, 6, 0.15);
  border: 3px solid rgb(7, 7, 7);      
  
}
.life img:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 22px rgba(0,0,0,0.25);
}

.cont{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
}
.cont h2{
  margin-left: 520px;
  font-weight: bold;
}
#power{
  margin-left: 25px;
  font-size: 15px;
}
#product{
  margin-left: 20px ;
  font-size: 15px;
}
#work{
  margin-left: 40px ;
  font-size: 15px;
}
#brand{
  margin-left: 60px ;
  font-size: 15px;
}

