
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  background: #141313;
}


.main {
  margin: 60px 40px;
  background: #ffffff;
  border-radius: 12px;
  padding-bottom: 60px;
}


header {
  padding: 25px 50px;
}

nav {
  text-align: center;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #000;
  font-size: 22px;
  font-weight: bold;
}

.head {
  padding: 60px 50px;
  text-align: center;
}

#my {
  font-size: 40px;
  margin-bottom: 20px;
  margin-right: 900px;
}

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 40px;
}

.skill-box {
  background: #f5f5f5;
  padding: 25px;
  border-radius: 16px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.25);
}

.skill-box img {
  width: 90px;
  height: 90px;
  object-fit: contain;
}

.skill-box p {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 600;
}


.life-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 32px;
}

.life-title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
}

.life {
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  gap: 30px;
}

.squad {
  background: #f5f5f5;;
  padding: 15px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 8px 18px rgba(0,0,0,0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.squad:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.25);
}

.squad img {
  width: 100%;
  height: 180px;
  /* object-fit: cover; */
  border-radius: 12px;
}

.squad p {
  margin-top: 12px;
  font-size: 16px;
  font-weight: 600;
}

.english {
  text-align: center;
  margin-top: 60px;
}

.english img {
  margin-top: 20px;
}
