
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  background: #141313;
  font-family: Arial, sans-serif;
 
  justify-content:center;
  gap:60px;
  margin-top:100px;
}


.main {
  margin: 60px 40px;
  background: #ffffff;
  border-radius: 12px;
  padding-bottom: 60px;
}


header {
  padding: 25px 50px;
}

nav {
  text-align: center;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #000;
  font-size: 22px;
  font-weight: bold;
}

.head {
  padding: 60px 50px;
  text-align: center;
}

#my {
  font-size: 40px;
  margin-bottom: 20px;
  margin-right: 900px;
}

.skills {
  display: flex;
  gap: 30px;
  margin-top: 40px;
 
}

.skill-box {
  background: #f5f5f5;
  padding: 25px;
  border-radius: 16px;
  text-align: center;
  width: 200px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
 
}

.skill-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.25);
}

.skill-box img {
  width: 200px;
  height: 90px;
  object-fit: contain;
}

.skill-box p {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 600;
}

.last-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.life-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 32px;
  height: 1200px;
}

.life-title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
}

.life {
  display: grid;
  grid-template-columns:1fr 1fr ;
  gap: 90px;
  height: 800px; 
  width: 1000px;
  margin-left: 150px;
}

.squad {
  background: #f5f5f5;;
  padding: 15px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 8px 18px rgba(0,0,0,0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.squad:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.25);
}

.squad img {
  width: 400px;
  height: 300px;
  /* object-fit: cover; */
  border-radius: 12px;
  margin-bottom: 10px;
}

.squad p {
  margin-top: 20px;
  font-size: 16px;
}

.english {
  text-align: center;
  /* margin-top: 60px; */
  font-size: 20px;
}

.english img {
  margin-top: 50px;
  width: 1250px;
  height: 250px;
}
.skill-tool{
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-top: 20px;
  
}

.skill-box{
  width: 300px;
}
.tool{
  margin-top: 50px;
}


/* Circle */
.english{
  text-align:center;
  display: flex;
  flex-direction: row;
}

.circle{
  width:100px;
  height:100px;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:22px;
  font-weight:bold;
  color:orange;
  position:relative;
}
.english_section{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
  width: 70%;
}

/* Background circle */
.circle::before{
  content:"";
  position:absolute;
  width:100%;
  height:100%;
  border-radius:50%;
  border:6px solid #eee;
}

/* Progress */
.progress{
  position:absolute;
  width:100%;
  height:100%;
  border-radius:50%;
  border:6px solid orange;
  clip-path: inset(0 0 50% 0);
  transform: rotate(var(--value));
}

.title{
  margin-top:10px;
  font-weight:bold;
}

.level{
  color:gray;
}